/*style.css*/

.drop_menu {
	background:black;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.drop_menu li { float:left; }
.drop_menu li a {
	padding:9px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
	font:12px arial, verdana, sans-serif;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover { position:relative; }
.drop_menu li:hover ul {
	left:0px;
	top:30px;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:dimgrey;
}
.drop_menu li:hover ul li a:hover { background:black; }

.close {text-align: center;
    font-size: 300%;
    }
.open {font:  bold;
  font-family: 'Ubuntu Mono', monospace;
     position: inherit;
    text-indent: 50px;
        font-size: 28px;
    }
body {background-color: cornflowerblue;
    color: aliceblue
}
footer {color: aliceblue;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        }
.title {color: aliceblue;
        font-family: 'Ubuntu',   sans-serif;
    text-align: center;
    font-size: 48px;
    
        }

.article {color: aliceblue;
      font-family: 'Ubuntu', sans-serif;
    text-align:inherit right;
    font-size: 18px;
}


iframe { text-align: center
}

date {font-family: 'Ubuntu Mono', monospace;
    font-size: 18px}